# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
project.xcworkspace/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
/.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Swift
*.swiftpm
.swiftpm

# Logs
*.log

# Byebug
.byebug_history

# macOS
.DS_Store
